In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_table("companies (1).txt")
df1.head()

# df1.info()
df1["permalink"].nunique()

66368

In [3]:
df=pd.read_csv("pj1.csv",encoding="unicode_escape")
df.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

q1. Reading the Rounds2, companies.txt files

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   company_permalink        114949 non-null  object
 1   funding_round_permalink  114949 non-null  object
 2   funding_round_type       114949 non-null  object
 3   funding_round_code       31140 non-null   object
 4   funded_at                114949 non-null  object
 5   raised_amount_usd        94959 non-null   float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB

2. How many unique companies are present in rounds2?

In [5]:

df["company_permalink"].nunique()

90247

In [6]:
df1["permalink"].nunique()

66368

4.Write the code to convert companies[‘permalink’] and Round2[‘company_permalink’] columns
to uppercase.

In [7]:

def mapp(x):
    if x=="company_permalink":
        return x.upper()
    else:
        return x
df.columns=list(map(mapp,df.columns))
df.head()

,COMPANY_PERMALINK,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [8]:
df1["permalink"]=df1["permalink"].str.upper()

In [9]:
df1.head()
def app(x):
    if x=="permalink":
        return x.upper()
    else:
        return x
df1.columns=list(map(app,df1.columns))
df1.head()

,PERMALINK,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/ORGANIZATION/004-TECHNOLOGIES,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

5. Are there any companies in the rounds2 file which are not present in companies.txt ?

In [10]:
d=(set(df["COMPANY_PERMALINK"])).difference(set(df1["PERMALINK"]))
pd.DataFrame(d)

                                                    0
0                        /organization/federatedmedia
1                              /organization/hipvilla
2                              /organization/camstent
3      /organization/internet-college-internation-s-l
4                             /organization/dishcrawl
...                                               ...
45160              /organization/ciphergraph-networks
45161                          /organization/in2bones
45162                      /organization/malwarebytes
45163                          /organization/merkatic
45164                            /organization/cambly

[45165 rows x 1 columns]

In [11]:
s1=set(df["COMPANY_PERMALINK"])
s2=set(df1["PERMALINK"])
s3=s1.difference(s2)
pd.DataFrame(s3)

                                                    0
0                        /organization/federatedmedia
1                              /organization/hipvilla
2                              /organization/camstent
3      /organization/internet-college-internation-s-l
4                             /organization/dishcrawl
...                                               ...
45160              /organization/ciphergraph-networks
45161                          /organization/in2bones
45162                      /organization/malwarebytes
45163                          /organization/merkatic
45164                            /organization/cambly

[45165 rows x 1 columns]

In [12]:
s1=df["COMPANY_PERMALINK"] 
s2=df1["PERMALINK"]
a=set(s1)
b=set(s2)
df3=a.difference(b)
len(df3)
pd.DataFrame(df3)

                                                    0
0                        /organization/federatedmedia
1                              /organization/hipvilla
2                              /organization/camstent
3      /organization/internet-college-internation-s-l
4                             /organization/dishcrawl
...                                               ...
45160              /organization/ciphergraph-networks
45161                          /organization/in2bones
45162                      /organization/malwarebytes
45163                          /organization/merkatic
45164                            /organization/cambly

[45165 rows x 1 columns]

6. Merge the two data frames so that all variables (columns) in the company's frame are added
to the rounds2 data frame. Name the merged frame master_dataframe. How many observations
are present in master_frame ?

In [13]:
df.columns

Index(['COMPANY_PERMALINK', 'funding_round_permalink', 'funding_round_type',
       'funding_round_code', 'funded_at', 'raised_amount_usd'],
      dtype='object')

In [14]:
df.columns=['PERMALINK', 'funding_round_permalink', 'funding_round_type',
       'funding_round_code', 'funded_at', 'raised_amount_usd']
df.head()

,PERMALINK,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [15]:
master_dataframe=pd.merge(df1,df,how="outer",right_index=True,left_index=True)
master_dataframe.head()

,PERMALINK_x,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,PERMALINK_y,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/ORGANIZATION/004-TECHNOLOGIES,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

7. Write the code to drop the redundant column ‘'company_permalink' from the

In [16]:
master_dataframe.drop(columns="PERMALINK_x")

KeyError: "['PERMALINK'] not found in axis"

8. Write the code to find the percentage missing value (column-wise) in master_dataframe. Drop
unnecessary columns.

In [ ]:
s1=master_dataframe.isnull().sum()*100/len(master_dataframe)
s1

9. Create a pivot table to compare the mean and median values for ‘raised_amount_usd’ and
‘funding_round_type’ across different funding round categories..

In [ ]:
pd.pivot_table(master_dataframe,index=("funding_round_type"),values=(["raised_amount_usd"]) , aggfunc=["mean"])

In [ ]:
10. Filter the master_dataframe on ‘raised_amount_usd’ such as ‘raised_amount_usd’ lie
between 4 Millions to 15 Millions

In [ ]:
m1=master_dataframe[(master_dataframe["raised_amount_usd"]>4000000) & (master_dataframe["raised_amount_usd"]<15000000)]
m1.head()

11.Identify the top 9 countries in terms of highest investment in ‘venture’ fund type.

In [ ]:
m1=master_dataframe.groupby("country_code")["raised_amount_usd"].sum()
m1.nlargest(9).to_frame()

12. Create the ‘main_category’ column by extracting the main sector using the column
‘category_list’.
Hint - Use the Lambda function or string function

In [ ]:
f1=[lambda x:x.split("|")[0]if type(x)==str else x]

In [ ]:
master_dataframe["main_category"]=master_dataframe["category_list"].apply(f1)
master_dataframe.head()

13. Using the user defined function convert the ‘rasied_amount_used’ column into a categorical
column as followa) If the amount is less than 5 Millions then recode as TypeA.
b) If the amount is greater than 5 Millions and less than 7 Millions then recode as TypeB.
c) If the amount is greater than 7 Millions then recode as TypeC

In [ ]:
master_dataframe["raised_amount_usd"]

In [ ]:
def usd(x):
    if x>5000000 and x<=7000000:
        return "TypeB"
    elif x<=5000000:
        return "TypeA"
    elif x>7000000:
        return "TypeC"
    else:
        return x

    
master_dataframe["raised_amount_usd"]=list(map(usd,master_dataframe["raised_amount_usd"]))

In [29]:
master_dataframe.head(15)

,PERMALINK,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,COMPANY_PERMALINK,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,main_category
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,TypeC,Media
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,Application Platforms
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,TypeA,Apps
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,TypeA,Curated Web
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,TypeA,Software
5,/Organization/01Games-Technology,01Games Technology,http://www.01games.hk/,Games,operating,HKG,NaN,Hong Kong,Hong Kong,NaN,/ORGANIZATION/004-TECHNOLOGIES,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,24-07-2014,NaN,Games
6,/Organization/0Ndine-Biomedical-Inc,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997,/organization/01games-technology,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,01-07-2014,TypeA,Biotechnology
7,/Organization/0Xdata,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,/funding-round/2b9d3ac293d5cdccbecff5c8cb0f327d,seed,NaN,11-09-2009,TypeA,Analytics
8,/Organization/1,One Inc.,http://whatis1.com,Mobile,operating,USA,CA,SF Bay Area,San Francisco,01-08-2011,/organization/0ndine-biomedical-inc,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,NaN,21-12-2009,TypeA,Mobile
9,/Organization/1-2-3-Listo,"1,2,3 Listo",http://www.123listo.com,E-Commerce,operating,CHL,12,Santiago,Las Condes,01-01-2012,/ORGANIZATION/0XDATA,/funding-round/383a9bd2c04f7038bb543ccef5ba3eae,seed,NaN,22-05-2013,TypeA,E-Commerce
10,/Organization/1-4-All,1-4 All,NaN,Entertainment|Games|Software,operating,USA,NC,NC - Other,Connellys Springs,NaN,/organization/0xdata,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,09-11-2015,TypeC,Entertainment
11,/Organization/1-618-Technology,1.618 Technology,http://www.Homeandcondogallery.com,Networking|Real Estate|Web Hosting,operating,USA,FL,Orlando,Orlando,07-12-2013,/ORGANIZATION/0XDATA,/funding-round/ae2a174c06517c2394aed45006322a7e,venture,NaN,03-01-2013,TypeA,Networking
12,/Organization/1-800-Dentist,1-800-DENTIST,http://www.1800dentist.com,Health and Wellness,operating,USA,CA,Los Angeles,Los Angeles,01-01-1986,/organization/0xdata,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,19-07-2014,TypeC,Health and Wellness
13,/Organization/1-800-Doctors,1-800-DOCTORS,http://1800doctors.com,Health and Wellness,operating,USA,NJ,Newark,Iselin,01-01-1984,/ORGANIZATION/1,/funding-round/03b975068632eba5bfdb937ec8c07a68,seed,NaN,05-02-2014,TypeA,Health and Wellness
14,/Organization/1-800-Publicrelations-Inc-,"1-800-PublicRelations, Inc.",http://www.1800publicrelations.com,Internet Marketing|Media|Public Relations,operating,USA,NY,New York City,New York,24-10-2013,/organization/1,/funding-round/5de6d8828aef7d925d97918d15727670,undisclosed,NaN,05-02-2013,NaN,Internet Marketing